alias pytest-pdb='pytest -vv -rs --pdb --pdbcls=IPython.terminal.debugger:Pdb'
alias pytest-output='pytest --no-cov -p no:warnings -s'

alias pytest-pdb='pytest -vv -rs --pdb --pdbcls=IPython.terminal.debugger:Pdb'
alias pytest-output='pytest --no-cov -p no:warnings -s'
