function show_unique_added_lines() {
  git show "$1" | grep '^\+[^+]' | gsed 's/\+\s*//' | sort -u | less
}

function remote_dev_files() {
  current_branch="$(git_current_branch)"
  origin_name="origin"
  origin_current_branch="${origin_name}/${current_branch}"

  echo "args: $@"
  echo "$#"

  if [ $# -eq 0 ]; then
    origin_cmp_branch="${origin_name}/dev"
  else
    origin_cmp_branch="${origin_name}/$1"
  fi

  {
    git diff "${origin_current_branch}" $(git merge-base "${origin_current_branch}" "${origin_cmp_branch}") --name-only --relative \
    && git diff $(git merge-base "${current_branch}" "${origin_cmp_branch}") --name-only --relative ;
  } | sort -u | xargs
}

function drf() {
  git diff origin/$(git_current_branch) -- $(remote_dev_files "$@")
}
